/* It needs to be global to open only 1 dropdown at the time */
:global(.dropdown) {
  position: relative;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  margin-top: 1rem;

  list-style: none;

  width: 15rem;
  padding: 0;
  transition: all 0.3s;
  background-color: #fff;
  overflow: hidden;
}

.option,
.option:link,
.option:visited {
  display: block;

  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  text-align: left;

  border: none;
  background-color: var(--clr-white);
  cursor: pointer;
  transition: all 0.3s;

  font: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  color: inherit;
}

.option:hover,
.option:active {
  background-color: var(--clr-grey-light);
}

.option.delete {
  color: var(--clr-red);
}
