.form {
  display: grid;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  margin-block: 4rem;

  &__header {
    display: grid;
    gap: 3rem;
  }

  &__controls {
    display: flex;
    gap: 2rem;
    // justify-content: space-between;
    align-items: center;
  }

  &__submit-btn {
    &--bottom {
      justify-self: center;
    }

    &--top {
      margin-left: auto;
    }
  }

  &__back-btn {
    height: 3.6rem;

    background-color: var(--clr-white);
    color: var(--clr-black);
    font-size: 3rem;

    &:hover,
    &:active {
      background-color: var(--clr-white);
    }
  }

  &__title {
    font-size: 2.6rem;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  &__set {
    display: grid;
    gap: 4rem;

    margin-top: 5rem;
    margin-bottom: 4rem;
    border: none;
  }

  &__label {
    display: grid;
    gap: 1rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__input {
    border: 2px solid var(--clr-black);
    padding: 1rem 1.5rem;
    border-radius: 100rem;
    width: 100%;

    background: transparent;
    transition: all 0.2s;

    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;

    &:focus {
      border-color: var(--clr-accent);
      outline: none;
    }
  }

  &__add-btn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;

    height: 6rem;

    font-size: 4rem !important;
  }
}
