.word {
  display: grid;

  grid-template-columns: repeat(2, 1fr) auto;
  row-gap: 2rem;
  column-gap: 3rem;

  padding-top: 2rem;
  padding-inline: 4rem;
  padding-bottom: 4rem;

  &__header {
    grid-column: 1/-1;
    grid-row: 1/2;

    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__number {
    font-size: 2.4rem;
    font-weight: 700;
    margin-right: auto;
  }

  &__content {
    grid-column: 1/3;
    grid-row: 2/3;

    @media screen and (max-width: 1000px) {
      grid-column: 1/-1;
    }

    display: grid;
    gap: 3rem;

    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  &__term {
    padding-block: 1rem;
    height: 4rem;

    outline: none;
    border: none;
    border-bottom: 0.3rem solid var(--clr-black);

    transition: all 0.3s;

    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;

    &:focus {
      border-color: var(--clr-accent);
    }
  }

  &__description-loader {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
    width: 100%;
    height: 3rem;
    margin-top: 0.8rem;

    .spinner {
      height: 2rem;
      width: 2rem;
      -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 3px),
        #000 0
      );
    }
  }

  &__description-text {
    // prevent from stretching
    min-width: 0;

    padding-block: 0.85rem;
    outline: none;
    white-space: pre-wrap;
    transition: all 0.3s;

    border-bottom: 0.3rem solid var(--clr-black);
    font-size: 1.6rem;
    font-weight: 600;

    &:focus {
      border-color: var(--clr-accent);
    }

    &[contenteditable="true"]:empty:before {
      content: attr(data-placeholder);
      pointer-events: none;
      color: #777;
      display: block; /* For Firefox */
    }
  }

  &__images-output {
    grid-column: 1/-1;
    grid-row: 3/4;

    @media screen and (max-width: 1000px) {
      grid-row: 4/5;
    }

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;

      border: 0.5rem solid transparent;

      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        border-color: var(--clr-accent);
      }
    }

    &-loader {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 2rem;
      grid-column: 1/-1;

      .spinner {
        height: 4rem;
        width: 4rem;
      }
    }
  }

  &__image {
    position: relative;
    width: 12rem;

    aspect-ratio: 1;
    border-radius: 1rem;
    border: 2px solid var(--clr-grey-light);

    cursor: pointer;

    &:has(img) {
      border-color: transparent;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &__img-add-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: none;

    background-color: transparent;
    transition: all 0.3s;

    cursor: pointer;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;

    &:hover,
    &:active {
      color: var(--clr-accent-dark);
    }

    &:disabled {
      color: var(--clr-grey);
    }
  }

  &__img-delete-btn {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;

    width: 2.5rem;

    font-size: 2rem;
  }
}
