.flashcard {
  display: grid;
  grid-template-rows: auto 35rem auto;
  align-content: center;
  gap: 2rem;

  padding: 2.5rem 3rem;
  padding-bottom: 1.5rem;
  width: var(--item-width);
}

.title {
  font-size: 2rem;
  color: var(--clr-grey);
}

.content {
  display: grid;
  grid-template-columns: auto 15rem;
  align-content: center;
  gap: 2rem;
}

.content:not(:has(.image)) {
  grid-template-columns: 1fr;
}

.description {
  overflow: auto;
  white-space: pre-wrap;

  font-size: 1.8rem;
  font-weight: 600;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1rem;
  object-fit: cover;
}

.hint {
  justify-self: center;
}

.term {
  font-size: 3rem;
  align-self: center;
  justify-self: center;
}
