@import "./Buttons/Button.scss";

:root {
  --carousel-width: 64rem;
  --item-gap: 3rem;

  --item-width: calc(var(--carousel-width) - 2 * var(--item-gap));
}

.carousel {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;

  &__inner {
    grid-column: 2 / 3;

    position: relative;

    display: grid;
    gap: 2rem;

    width: var(--carousel-width);
    overflow: hidden;
    padding-block: 2rem;
  }

  &__info {
    grid-column: 2 / 3;
    font-size: 1.6rem;
  }

  &__content {
    position: relative;
    left: calc(-1 * var(--item-width));

    display: flex;
    gap: var(--item-gap);
  }

  &__item {
    flex: 0 0 var(--item-width);

    // hide shadows
    &--left,
    &--right {
      opacity: 0;
    }
  }

  &__btn {
    @extend %btn;

    padding: 0;
    aspect-ratio: 1;
    border-radius: 100rem;
    font-weight: 500;

    height: 3.6rem;
    aspect-ratio: 1;
    font-size: 3rem;

    &--left {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &--right {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
}

// ===== ANIMATIONS =====

.move-left-enter,
.move-left-enter-done,
.move-left-exit,
.move-left-exit-done,
.move-right-enter,
.move-right-enter-done,
.move-right-exit,
.move-right-exit-done {
  left: calc(-1 * var(--item-width));
}

.move-left-enter-active,
.move-left-exit-active {
  transition: all 0.3s;
  left: var(--item-gap);

  .carousel__item--left {
    opacity: 1;
  }
}

.move-right-enter-active,
.move-right-exit-active {
  transition: all 0.3s;
  left: calc(-2 * var(--item-width) - var(--item-gap));

  .carousel__item--right {
    opacity: 1;
  }
}
